.mealWrapper,
.mealTitleWrapper {
  display: flex;
  align-items: center;
}

.mealWrapper {
  margin: 1rem 1rem;
}

.mealImgWrapper {
  width: 8rem;
  height: 8rem;
  z-index: 2;
}

.mealImgWrapper img {
  width: 100%;
  border-radius: 50%;
}

.mealTitleWrapper {
  background-color: #f7ccb2;
  width: 10rem;
  height: 4rem;
  padding: 1.5rem 1rem 1.5rem 3rem;
  margin-left: -2rem;
  border-radius: 5px;
}

.mealTitleWrapper a {
  text-decoration: none;
  color: #55504c;
}
