@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Prompt:wght@100;200;400;500;600;700;800;900&display=swap');

.navWrapper, .searchWrapper {
  display: flex;
}

.navWrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 90%;
}

.logo {
  font-family: 'Prompt', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.logo p {
  margin: 0;
}

.searchWrapper input, .filterWrapper select {
  background-color: rgb(247, 247, 247);
  margin-right: 10px;
}

.searchWrapper button {
  background-color: #111103;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.searchWrapper input, .searchWrapper button, .filterWrapper select {
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
